.header1 {
     background: #fcfcfc; 
     color: #1b1b1b; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    transition: all .3s ease-in-out;  
    height: 84px; 

}

.container-header{
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0!important;
}

.nav-style{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 700 !important;
}


.header1--color{
    background: var(--header-bg);
}

.header1 a {
    text-decoration: none;
    color: var(--header-fontColor); 
    font-weight: 500; 
}


.header1 a:hover {
    color: #e63b49
}

.header1__collections-nav {
    margin-bottom: 0;
    transition: all 0.5s ease-out;

}

.header1__collections-nav a {
    /* color: #000000;  */
    color: var(--header-fontColor); 
    text-decoration: none;
    margin-right: 40px;
    display: inline-block;
    transition: all 0.5s ease-out;
}

.header1__collections-nav a:hover {
    border-bottom: 1px solid black; 
}

.header1__collection-link {
    display: inline-block;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header1__collection-link .collection-link__sub-links {
    visibility: hidden;
    opacity: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    position: absolute;
    padding: 20px 0;
    min-width: 150px;
    top: 50px;
    left: 0
}

.header1__collection-link .collection-link__sub-links a {
    /* color: #000000; */
    color: var(--header-fontColor); 
    text-decoration: none;
    font-size: .9rem;
    display: block;
    padding: 10px 20px
}

.header1__collection-link .collection-link__sub-links a:hover {
    color: red; 
}

.header1__collection-link:hover .collection-link__sub-links {
    visibility: visible;
    opacity: 1
}

.header1__logo{
    margin: 0 auto;
}

.header1__logo a {
    text-decoration: none;
    font-size: 2rem;
    font-family: "Bebas Neue", cursive;
    display: flex;
    justify-content: center;
    align-items: center
}

.header1__logo a, .header2 {
    text-decoration: none;
    display: flex;
    align-items: center
}

#cart-icon{
    padding-right: 10px;
}
#cart-icon, #menu-icon{
    font-size: 1.1rem;
}
#menu-icon{
    display: none;
    color: var(--header-before-fontColor);
}
.mobile-nav, #cart-icon-mobile{
    display: none;
}

#first-nav{
    justify-content: end !important;
}

@media(max-width: 1398px){
    .container-header{
        margin: 0 !important;
    }
    .header1{
        justify-content: center !important;
    }
    
}

@media (max-width: 1241px){
    #last-nav{
        position: absolute;
        top: 65px;
        right: 80px;
    }
}

@media(max-width: 1025px){
    .container-header{
        position: relative;
    }
    #last-nav{
        position: absolute;
        top: 45px;
        right: 40px;
        width: 50px!important;
    }

    #first-nav{
        justify-content: start !important;
    }

    .header__collections-nav{
        display: none;
    }
    #menu-icon{
        display: block;
        margin-left: 22px;
        cursor: pointer; 
        line-height: 20px; 
        color: var(--header-fontColor);
        font-size: 1.3rem;
    }
   
    .mobile-nav{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--header-bg);
        top: 84px;
        bottom: 0;
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        text-align: center;
        margin: 0 auto;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        
    }
    .mobile-nav.active{
        display: block;
        width: 100%;
        top: 84px;
        left: 0; 
        bottom: 0;
        height: 100vh;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    hr{
        color: var(--header-fontColor); 
    }
    .header1__collections-nav{
        display: none;
    }
    .header1__collections-nav-mobile li{
        display: block;
        text-align: left;
    }
    .header1__logo{
        margin: 0 auto;
    }
    #cart-icon-mobile{
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 10px;
    }
    .collection-link__sub-links-mobile{
        display: inline-block;
    }
    .collection-link__sub-links-mobile span{
        margin-left: 20px;
    }
    .fa-long-arrow-alt-right{
        margin-left: 10px;
    }
    
}

@media(max-width: 560px){
    .header1{
        padding: 8px 5px;
    }
    .container-header{
        padding-right: 70px !important; 
    }
    #first-nav{
        width: 50px!important;
    }
    #middle-nav{
        margin: 0 auto !important;
        padding-left: 0;
    }
    .header1__logo a{
        font-size: 1.5rem;
        white-space: nowrap;
    }
    #last-nav{
        top: 40px;
        margin: 0 auto !important;
    }
}
